doctype html
html
  head
    meta(name="description" content="Boilerplate Sass, Pug, javascript & automation")
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content=", width=device-width, initial-scale=1")

    link(rel="shortcut icon", href="http://lrtrln.fr/opensource/sapues/favicon.ico")
    link(rel="apple-touch-icon", href="http://lrtrln.fr/opensource/sapues/favicon.ico")
    link(rel="stylesheet", href="/assets/css/main.css")

    block head


  body
    include ../_partial/header

    block content

    include ../_partial/footer


    // main JS
    script(src='/assets/js/main.js')
