extends _layout/main

block head
  title SAPUES - starter frontend development

block content
  .container.align-center

    h2.white Simple frontend boilerplate for watermelons and humans.
    h3.white SA--PU--ES = Sass + Pug + ES6 & gulpies automations.
