#footer.footer
  .container.align-center
    #nav-footer.nav-footer.white
      span -------------------------------------------------
      p: a(href="http://lrtrln.fr") by lrtrln
      span -------------------------------------------------